RUSTFS_VOLUMES="{{ rustfs_volumes }}"
RUSTFS_ACCESS_KEY={{ rustfs_admin_user }}
RUSTFS_SECRET_KEY={{ rustfs_admin_pass }}
RUSTFS_TLS_PATH="/var/lib/rustfs"
RUSTFS_CONSOLE_ENABLE=true
RUSTFS_ADDRESS=":9000"
RUST_LOG=error